[Desktop Entry]
Exec=embeddedkonsole /opt/QtPalmtop/bin/z/Words.sh
Icon=static/desktop/z/words
Type=Application
Name=words
Comment=V1.00
Name[zh_CN]=words
Comment[zh_CN]=V1.00
WifiCheck = 0
